* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background-color: #242833;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#act {
  text-align: right;
  font-size: 28px;
  color: #525d6d;
  overflow: hidden;
}
#res {
  font-size: 56px;
  text-align: right;

  color: #fff;
  overflow: hidden;
}
html {
  font-size: 10px;
}

.calc {
  max-width: 375px;
  background: linear-gradient(180deg, #242833 0%, #16181d 100%);
  padding: 19px;
  height: 100vh;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.buttons-up {
  margin-top: 34px;
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(636, 0.5px);
  grid-template-rows: repeat(1, 77px);
  margin-bottom: 10px;
}

.buttons-up .button:nth-child(1) {
  /* grid-row: 1/3; */
  grid-column: 1 / 262;
  margin-right: 10px;
}
.buttons-up .button:nth-child(2) {
  /* grid-row: 1/3; */
  grid-column: 262/524;
  margin-right: 10px;
}
.buttons-up .button:nth-child(3) {
  /* grid-row: 1/3; */
  grid-column: 524/678;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 77px);
  grid-template-rows: repeat(4, 77px);
}

.button.zero {
  grid-column: 1/3;
}

.button {
  background-color: #252b38;
  box-shadow: inset 4px 4px 4px #383e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  padding: 5px;
  cursor: pointer;
}
.button.clr {
  background-color: #545f71;
  box-shadow: inset 4px 4px 4px #636c7d;
}
.button.symbol {
  background-color: #d9781f;
  box-shadow: inset 4px 4px 4px #dc862d;
}
.button.symbol .inner-button {
  background: linear-gradient(134deg, #dd732f 15.47%, #e28d21 94.71%);
}
.button.clr .inner-button {
  background: linear-gradient(134deg, #465262 15.47%, #626b7c 94.71%);
}
.inner-button {
  border-radius: 18px;
  background: linear-gradient(134deg, #2a303e 15.47%, #393e51 94.71%);
  font-family: Inter;
  font-size: 21px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.inner-button::after {
  border-radius: inherit;
  content: "";
  width: 102%;
  height: 102%;
  background: inherit;
  position: absolute;
  left: -1%;
  filter: blur(1px);
  z-index: 0;
}

.inner-button span {
  position: relative;
  z-index: 1;
}

span {
  filter: blur(0px);
}

.button:active {
  transform: scale(0.95);
}
